/*************************************************
Copyright © 2021 Ennio Marke
 ____    ____  ____  ____   ______   _________  
|_   \  /   _||_  _||_  _|.' ____ \ |  _   _  | 
  |   \/   |    \ \  / /  | (___ \_||_/ | | \_| 
  | |\  /| |     \ \/ /    _.____`.     | |     
 _| |_\/_| |_    _|  |_   | \____) |   _| |_    
|_____||_____|  |______|   \______.'  |_____| 
*************************************************/

:root {
  --primary-color: #eeeae7;
  --secondary-color: #565656;
  --font-color: #eeeae7;
  --font-color-2: #c0bdbb;
  --bg-color: #464646;
  /*#081917;*/
  --heading-color: #eeeae7;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1 {
  color: var(--heading-color);
  font-size: 2rem;
  margin-bottom: 1vh;
}

body {
  background-image: url("../assets/pictures/pizza-background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  margin: 0;
  font-size: 3vmin;
  width: 100%;
  height: 100%;
  animation: blur 1s ease-out;
  backdrop-filter: blur(8px);
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }

  100% {
    backdrop-filter: blur(8px);
  }
}



html {
  width: 100%;
  height: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: transform .2s;
  cursor: pointer;
  font-family: italianno;
  font-weight: bold;
}

a:hover,
a:focus {
  transform: scale(1.5);
}

em {
  color: var(--font-color);
}

p {
  color: var(--primary-color);
  font-family: italianno;
  font-size: 2em;
  font-weight: bold;
  margin: 5px;
}

#content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.flex-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 0;
}

.flex-container * {
  min-height: min-content;
}

.flex-container a {
  font-size: 10vmin;
  display: none;
}

#content * {
  min-height: min-content;
}

#content a {
  font-size: 10vmin;
  display: none;
}

#content.ingredients a#aNI,
#content.ingredients a#aNO {
  margin-top: 10vh;
}

#content p.iTR,
#content p.oTR {
  cursor: pointer;
}

#content input#iI,
#content input#oI {
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--primary-color);
  background-color: transparent;
  text-align: center;
  font-family: italianno;
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color);
}

.float-child {
  height: 100%;
  width: 50%;
  float: left;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-container:nth-child(1) {
  margin-top: 10%;
}

/*********************************
       :\     /;               _
      ;  \___/  ;             ; ;
     ,:-"'   `"-:.            / ;
    /,---.   ,---.\         _; /
   ((  |  ) (  |  ))    ,-""_,"
    \`````   `````/""""",-""
     '-.._ v _..-'      )
       / ___   ____,..  \
      / /   | |   | ( \. \
     / /    | |    | |  \ \
     `"     `"     `"    `"
*********************************/